@import "../abstracts/mixin";
@import "../abstracts/variables";

.message-container {
    display: flex;
    margin: 5px 0;
    .logo-block {
        img {
            min-width: 40px;
            max-height: 40px;
            border-radius: 50%;
        }
        p {
            text-align: center;
            font-style: oblique;
        }
    }
    .message-block {
        width: auto;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-left: 10px;
        align-items: baseline;
        span {
            margin-bottom: 3px;
            font-size: 12px;
            line-height: 18px;
            color: #ccc;
            white-space: nowrap;
        }
        div {
            min-height: 30px;
            min-width: 30px;
            margin-bottom: 0;
            background-color: #fff;
            border-radius: 0 15px 15px 15px;
            filter: drop-shadow(0px 1px 2px rgba(129 129 177 / 80%));
            padding: 10px;
        }
    }
}
.user-messages {
    justify-content: flex-end;
    .logo-block {
        order: 1;
    }
    .message-block {
        align-items: flex-end;
        padding-right: 10px;
        div {
            border-radius: 15px 0 15px 15px;
            filter: drop-shadow(0px 1px 2px rgba(114 46 209 / 80%));
        }
    }
}
