@import "../abstracts/mixin";
@import "../abstracts/variables";

.status {
  margin: 5px;
  padding-left: 10px;
  text-align: center;
  .ant-typography-edit-content {
    margin-left: 18px !important;
  }
}
