$pink: rgb(235 45 150 / 12%) 0px 6px 12px !important;
$low-violet: rgb(114 46 209 / 12%) 0px 6px 12px !important;
$low-violet-color: rgb(114 46 209 / 7%) !important;
$pink-color: rgb(235 45 150 / 12%) !important;
$shadow-transparent: rgba(0, 0, 0, 0.2) 0 0 10px !important;
$blue: #1890ff !important;
$violet: #a785a4 !important;

$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xlg: 1500px,
);
