@import "../abstracts/variables";
@import "../abstracts/mixin";

.ant-layout {
  min-height: 100vh !important;
}

.ant-layout-content {
  display: flex;
  flex-direction: column;
  position: relative;
  -ms-flex: auto;
  flex: auto;
  min-height: 100%;
  margin: 16px 16px 24px !important;
  padding: 20px !important;
  box-shadow: var(--boxShadowGeneral) 0 0 10px;
}

.ant-layout-header {
  margin: 0 16px;
  box-shadow: var(--boxShadowGeneral) 0 0 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
