html, body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
  margin: 0;
}

.ant-pagination-options-quick-jumper input:focus {
  box-shadow: var(--colorPrimary) !important;
}

.ant-select-focused .ant-select-selector {
  box-shadow: var(--colorPrimary) !important;
}

.ant-typography-secondary {
  font-weight: 100;
}

.ant-drawer-title {
  text-align: center;
}

.cursor-none {
  cursor: auto !important;

  .ant-badge-count {
    cursor: auto !important;
  }
}

.ant-badge-count {
  cursor: pointer !important;
}

input[type="file"] {
  display: none;
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.ant-drawer-title {
  margin-right: 28px;
}

.ant-image-mask {
  border-radius: 50%;
}

.ant-menu-horizontal {
  border-bottom: none;
}

