@import "../abstracts/variables";


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
  margin: 0;
}

.ant-typography-secondary {
  font-weight: 100;
}

.ant-drawer-title {
  font-family: IBM Plex Serif, serif;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
}

.cursor-none {
  cursor: auto !important;

  .ant-badge-count {
    cursor: auto !important;
  }
}

.ant-badge-count {
  cursor: pointer !important;
}

input[type="file"] {
  display: none;
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.ant-drawer-title {
  margin-right: 28px;
}

.ant-image-mask {
  border-radius: 50%;
}

.ant-menu-horizontal {
  border-bottom: none;
}

.ant-badge-count {
  color: rgba(0, 0, 0, 0.45);
  background-color: rgba(114, 46, 209, 0.15);
}

h1,
.ant-card-meta-title,
.ant-list-item-meta-title {
  text-transform: capitalize;
}
